<%= form_with model: order do |f| %>
    <div class="field">
      <label class="label">Total Price</label>
      <div class="control">
        <%= f.text_field :total_price, class:"input"%>
      </div>
    </div>
    
    </div>
<% end %>