 <% if user_signed_in? && current_user.admin? %>
<div class="table-container m-6">
<h1 class="title is-4">Orders</h1>
  <table class="table">
    <thead>
    <tr>
      <th><abbr title="Position">ID</abbr></th>
      <th><abbr title="Position">Tortal price</abbr></th>
      <th><abbr title="Played">Order Status</abbr></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.total_price %></td>
      <td><%= order.order_status %></td>
      <td><%= link_to 'edit', edit_order_path(order) %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>
 <% else %>
  <div>user not authorized</div>
<% end %>  
