<h1 class="title is-4 m-6">order Details</h1>

<div class="card m-6">
  <header class="card-header">
    <p class="card-header-title">
      <span>Total Price: </span> <%= @order.total_price %>
    </p>
  </header>
  
    <table class="table">
    <thead>
    <tr>
      <th><abbr title="Position">Item name</abbr></th>
      <th><abbr title="Position">Description</abbr></th>
      <th><abbr title="Played">Price</abbr></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @ordered_items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>