<h1 class="title is-4 m-6">order Details</h1>

<div class="card m-6">
  <header class="card-header">
    <p class="card-header-title">
      <span>Total Price: </span> <%= @order.total_price %>
    </p>
  </header>
 
</div>